<mat-toolbar color="primary">
  <div class="logo">
    <span>
      <a [routerLink]="['/']">
        <mat-icon svgIcon="cultery"></mat-icon> Recipe Book <mat-icon svgIcon="open-book"></mat-icon>
      </a>
    </span>
  </div>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-stroked-button [routerLink]="['/create']" routerLinkActive="mat-accent" color="secondary">New Recipe</a>
    </li>
    <!-- <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li> -->
  </ul>


</mat-toolbar>
