mat-card {
  width: 50%;
  margin: auto;

}

.mat-card-content{
  padding:5px !important;
}
.full-width-fields{
  width: 100%;
}

#ingredient {
  float: left;
  margin-right: 4%;
  width: 48%;
}

#quantity {
  width: 48%;
}

button {
  margin-bottom: 1rem;
}


input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
